<!DOCTYPE html>
<html>
<head>
    <title>Añadir un pedido al repositorio local</title>
</head>
<body>
	<h1>Que producto quieres anadir al pedido con id: {{id}}?</h1>
	<form action="/pedidos/{{id}}/crearProductoPedido" method="GET">
		<p>Identificador del producto: </p>
		<input type="text" name="id"/>
		<p>Estado del producto: </p>
		<select name="estados">
			<option value="Idle">Idle</option>
		 	<option value="Asignado">Asignado</option>
		  	<option value="Enviado">Enviado</option>
		  	<option value="Devuelto">Devuelto</option>
		</select>
		<p>Fecha de entrega / envio del producto (simulacion)</p>
		<input id="datetime" type="datetime-local" name="fechaEnvio"/>
		<button type="submit">Enviar</button>
	</form>
</body>