<!DOCTYPE html>
<html>
<head>
    <title>Lista de envíos</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<body>
	<h1>Lista de envíos</h1>
	{% if list %}
		{% set header = list[0] %}
		<table>
			<thead>
				<tr>
				{% for key,value in header.items() %}
					<th>{{ key }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for elem in list %}
				<tr>
					{% for key,value in elem.items() %}
						<td>{{ value }}</td>
					{% endfor %}
						<th>
							<a href="/envios/{{ elem['idEnvio'] }}/productos"><button>Ver los productos que contiene</button></a>
						</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>No hay elementos en la lista<h2>
	{% endif %}
</body>