<!DOCTYPE html>
<html>
<head>
    <title>Busqueda de productos</title>
</head>
<body>
	<h1>Qué quieres hacer?</h1>
	<ul>
		<li>
			<a href="/buscar">Buscar Productos</a>
		</li>
		<li>
			<a href="/opinar">Opinar sobre productos</a>
		</li>
		<li>
			<a href="/recomendaciones">Ver productos recomendados</a>
		</li>
		<li>
			<a href="/pedidos">Ver pedidos</a>
		</li>
		<li>
			<a href="/envios">Ver envios</a>
		</li>
		<li>
			<a href="/carrito">Ver el carro de la compra</a>
		</li>
	</ul>
</body>
</html>