<!DOCTYPE html>
<html>
<head>
    <title>Lista de pagos</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<body>
	<h1>Lista de pagos de {{ u }}</h1>
		<table>
			<thead>
				<tr>
					<th> Tipo </th>
					<th> Importe </th>
				</tr>
			</thead>
			<tbody>
				{% for elem in a %}
				<tr>
					{% if elem > 0 %}
						<td> Pago </td>
					{% else %}
						<td> Reembolso </td>
					{% endif %}
						<td> {{ elem }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
</body>