<!DOCTYPE html>
<html>
<head>
    <title>Lista de devoluciones</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<body>
	<h1>Devoluciones de la tienda</h1>
	{% if list %}
		{% set header = list[0] %}
		<table>
			<thead>
				<tr>
				{% for key,value in header.items() %}
					<th>{{ key }}</th>
				{% endfor %}
					<th>Reembolsar</th>
				</tr>
			</thead>
			<tbody>
				{% for elem in list %}
				<tr>
					{% for key,value in elem.items() %}
						<td>{{ value }}</td>
					{% endfor %}
					<td>
						{% if elem['estado'] == 'EnMarcha' %}
            				<a href="/reembolsar?id={{ elem['id'] }}"><button>Reembolsar</button></a>
            			{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>No hay elementos en la lista<h2>
	{% endif %}
</body>
