<!DOCTYPE html>
<html>
<head>
    <title>Lista de devoluciones</title>
</head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
<body>
	<h1>Lista de devoluciones de {{ u }}</h1>
		<table>
			<thead>
				<tr>
					<th> Persona </th>
					<th> Producto </th>
					<th> Importe </th>
					<th> Fecha </th>
					<th> Empresa de mensajeria </th>
					<th> Direccion </th>
					<th> Razon </th>
					<th> Estado </th>
				</tr>
			</thead>
			<tbody>
				{% for elem in a %}
				<tr>
					{% for elem2 in elem %}
						<td> {{ elem2 }} </td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
</body>